{
	"numbers": [
		{
			"iso": "US",
			"e164number": "12125551234"
		},
		{
			"iso": "FR",
			"e164number": "33900000000"
		},
		{
			"iso": "NL",
			"e164number": "31858000000"
		}
	],
	"default": [
		{
			"iso": "US",
			"e164number": "12125551234"
		}
	]
}
